    <div id="footer">
      <hr />
      <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a><br />This site and all its contents are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-Share Alike 3.0 United States License.</a></p>
      <% unless @current_user %>
        <p>If you have administrative access, <%= link_to "log in here", login_path %></p>
      <% end %>
    </div>
